* {
    margin: 0;
    padding: 0;
}

:root {
    --terminal-font-color: rgb(23, 107, 23);
    --terminal-shadow-color: rgb(19, 59, 19);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
}

.terminal {
    width: 1050px;
    height: 750px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 100000px;
    perspective-origin: bottom center;
    min-width: 850px;
}

.terminal > * {
    width: 100%;
    height: 100%;
    background-color:rgb(29, 29, 34);
    position: absolute;
}

.right {
    left: 100%;
    transform: rotateY(90deg);
    transform-origin: center left;
}

.left {
    right: 100%;
    transform: rotateY(-90deg);
    transform-origin: center right;
    background-color: rgb(21, 21, 27);
}

.top {
    bottom: 100%;
    height: 1050px;
    transform: rotateX(90deg);
    transform-origin: bottom center;
    background-color: rgb(40, 40, 46);
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(220deg, #222229 40%, #1C1C22 50%, #1c1c20);   
}

.front .frame {
    width: 85%;
    height: 92%;
    border-radius: 35px;
    background: linear-gradient(38deg, #222229 40%, #1C1C22 50%, #16161b);   
}

.base {
    width: 100%;
    height: 15%;
    top: 100%;
    transform-origin: top center;
    transform: rotateX(-35deg);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    background: linear-gradient(#121214 5%, #121214 8%, #17171a 15%,  #202027)
}

.screen {
    width: 70%;
    height: 80%;
    background: radial-gradient(ellipse, rgb(15, 15, 15) 30%, #0e0d0d 80%, #070707);
    position: absolute;
    border-radius: 50px / 10px;
    border-top-left-radius: 5% 15%;
    border-bottom-left-radius: 5% 20%;
    border-top-right-radius: 5% 15%;
    border-bottom-right-radius: 5% 20%;
    overflow: hidden;
    padding: 1.5em;
    font-family: 'VT323', monospace;
    color: var(--terminal-font-color);
    font-size: 24px;
    box-sizing: border-box;
    box-shadow: inset 0 0 15px 15px rgb(10, 10, 10),
                inset 0 0 5px 7px #000;

    text-shadow: 0 5px 10px var(--terminal-shadow-color),
                 5px 0 10px var(--terminal-shadow-color),
                 -5px 0 10px var(--terminal-shadow-color),
                 0 -5px 10px var(--terminal-shadow-color);
}

/* Terminal cursor */
.command::after {
    content: '';
    display: inline-block;
    width: .5em;
    height: 1em;
    margin-left: -.3em;
    margin-top: .3em;
    background-color: var(--terminal-font-color);
    animation-name: blink;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    box-shadow: 0 5px 10px 1px var(--terminal-shadow-color),
                 5px 0 10px 1px var(--terminal-shadow-color),
                 -5px 0 10px 1px var(--terminal-shadow-color),
                 0 -5px 10px 1px var(--terminal-shadow-color);
}

@keyframes blink {
    0% {visibility: hidden}
    35% {visibility: hidden;}
    36% {visibility: visible;}
    90% {visibility: visible;}
    91% {visibility: hidden;}
}